<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
     <!-- font awesome link    -->
     <script src="https://kit.fontawesome.com/4816df8f37.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cards.css">
    <title>KeyType.com</title>
    <style>
      .containerDesign
      {
          width:600px;
          height: 400px;
          background:transparent;
          margin:0 auto;
          position: relative;
          user-select: none;
          top:60px;
      }
      .box
      {
          text-align: center;
          width:58px;
          height: 38px;
          border-radius: 11px;
          font-size: 28px;
          font-weight: bold;
          position: absolute;
      }

      .box:nth-child(1)
      {
          left:300px;
          top:10px;
      }
      .box:nth-child(2)
      {
          left:300px;
          top:45x;
      }
      .box:nth-child(3)
      {
          left:300px;
          top:85px;
      }
      .box:nth-child(4)
      {
          left:300px;
          top:125px;
      }
      .box:nth-child(5)
      {
          left:300px;
          top:165px;
      }
    </style>
  </head>
  <body>

    <!-- // Navbar Section  -->
    <div class="container-fluid navbar-container">
        <div class="row m-0">
          <div class="col p-0">
            <nav class="navbar navbar-expand-md">
              <a class="navbar-brand" href="/logo"><img src="./images/logo.svg" alt=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: skyblue;"><i class="fas fa-expand logo"></i></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav LinkBox">
                  <a class="nav-item nav-link" href="/howtostart">How to start?</a>
                  <a class="nav-item nav-link" href="/practice">Practice</a>
                  <a class="nav-item nav-link" href="/logout">Logout </a>
                  <a class="nav-item nav-link" href="/profile">Profile </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
    </div>

    <div class="container quotes-section">
      <div class="row align-items-center justify-content-between">
        <div class="col col-12 col-md-6">
          
          <div class="containerDesign" data-tilt data-tilt-speed="600" data-tilt-perspective="500">
            <div class="box" style="background: #FAD200;top: 19px;">Y</div>
            <div class="box" style="background: #00BEA7;top: 72px;">U</div>
            <div class="box" style="background: #9DEF5C;top: 124px;">L</div>
            <div class="box" style="background: #252CD6;top: 173px;">T</div>
            <div class="box" style="background: #CF3232;top: 222px;">R</div>
    
            <div class="box" style="background: #FAD200;left: 220px;top: 64px;">O</div>
            <div class="box" style="background: #00BEA7;left: 220px;top: 124px;">I</div>
            <div class="box" style="background: #9DEF5C;left: 220px;top: 184px;">A</div>
            <div class="box" style="background: #252CD6;left: 141px;top: 99px;">K</div>
            <div class="box" style="background: #CF3232;left: 141px;top: 160px;">M</div>
    
            <div class="box" style="background: #FAD200;left: 382px;top: 57px;">R</div>
            <div class="box" style="background: #00BEA7;left: 382px;top: 122px;">L</div>
            <div class="box" style="background: #9DEF5C;left: 382px;top: 182px;">T</div>
            <div class="box" style="background: #252CD6;left: 458px;top: 97px;">S</div>
            <div class="box" style="background: #CF3232;left: 458px;top: 160px;">E</div>
    
            <div class="box" style="background: #FAD200;left: 534px;top: 124px;">S</div>
            <div class="box" style="background: #00BEA7;top: 131px;left: 62px;">S</div>
        </div>


        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <p><i class="fas fa-quote-left"></i> <span>S</span>ave your work, you may never
            know when the light will go off.</p>
        </div>
      </div>
    </div>
    
    <div class="container why">
      <div class="row justify-content-around">
        <div class="col col-12 col-md-5">
          <h2>What is Touch Typing?</h2>
          <p>Touch typing is a technique that helps you <br>type faster and more efficiently by <br>using all your fingers.</p>
        </div>
        <div class="col col-12 col-md-5">
          <h2>Why you should choose this?</h2>
          <p>It’s enhance your typing skills to the next <br>level and it is very user friendly and <br>very easy to use</p>
        </div>
      </div>
    </div>

    <h2 class ="team-heading">Our Team</h2>
    <div class="containerTeam">
      <div class="boxes"  data-tilt data-tilt-speed="600" data-tilt-perspective="500">
          <div class="imgbox">
            <img src="/images/karan.jpg" alt="">
          </div>
          <div class="title">
              <ul style="padding-left:0;">
                  <li> <a href=""><i class="fas fa-envelope"></i></a> </li>
                  <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                  <li><a href=""><i class="fab fa-github-square"></i></i></a></li>
              </ul>
              <h2>About Me</h2>
              <div class="dummytext">
                  <p>My name is Karan and <br>I currently in BTech 3<sup>rd</sup> year.
                      <br>Role:Frontend</p>
              </div>
          </div>
      </div>
      <div class="boxes"   data-tilt data-tilt-speed="600" data-tilt-perspective="500">
          <div class="imgbox"   data-tilt data-tilt-speed="600" data-tilt-perspective="500">
            <img src="/images/ankit.jpeg" alt="">
          </div>
          <div class="title">
              <ul style="padding-left:0;">
                  <li> <a href=""><i class="fas fa-envelope"></i></a> </li>
                  <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                  <li><a href=""><i class="fab fa-github-square"></i></a></li>
              </ul>
              <h2>About Me</h2>
              <div class="dummytext">
                  <p>My name is Ankit and <br>I currently in BTech 3<sup>rd</sup> year.
                      <br>Role:Frontend and Backend</p>
              </div>
          </div>
      </div>
      <div class="boxes"   data-tilt data-tilt-speed="600" data-tilt-perspective="500">
          <div class="imgbox">
            <img src="/images/ranjeet.jpg" alt="">
          </div>
          <div class="title">
              <ul style="padding-left:0;">
                  <li> <a href=""><i class="fas fa-envelope"></i></a> </li>
                  <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="" ><i class="fab fa-github-square"></i></a></li>
              </ul>
              <h2>About Me</h2>
              <div class="dummytext">
                  <p>My name is Ranjeet and <br>I currently in BTech 3<sup>rd</sup> year.
                      <br>Role:Frontend</p>
              </div>
          </div>
      </div>
  </div>


    <!-- This section is going to be footer  -->
    <div class="container-fluid subscribe" style="position:relative;" >
      <div class="first-div">
        <p>FREE FOR EVERYONE</p>
      </div>
      <div class="container-fluid second-div">
        <p>Subscribe to receive the latest updates</p>
        <div class="inner-box">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col col-6">
              <input type = "text" placeholder="Enter you Email" class="texting"> </input>
            </div>
            <div class="col col-2">
              <button>Subscribe</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
</html>