<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Row Practice</title>
    <link rel="stylesheet" href="../css/topstyles.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body style="background-color:#bedcfa;">
    <nav>
        <div class="container">
            
            <a href="/logo"><img src="../images/logo.svg" alt=""></a>
            <a href="/practice/homeRow">Home Row</a>
            <a href="/practice/topRow" style="color:white;">Top Row</a>
            <a href="/practice/bottomRow" >Bottom Row</a>
            <a href="/practice/wordPractice">Word Practice</a>
        </div>
    </nav>

    <!-- This section is for showing the result  -->
    <div class="results"><div class="result"></div></div>


    <div class="existing-letter">
        <a>q</a>|
        <a>w</a>|
        <a>e</a>|
        <a>r</a>|
        <a>t</a>|
        <a>p</a>|
        <a>o</a>|
        <a>i</a>|
        <a>u</a>|
        <a>y</a>
    </div>

    <!-- Typing leason -->
    <div class="home-container">
        <div class="typing-leason">
        </div>
        <div class="ready">
            <p>Click On Me! If you ready</p>
        </div>
    </div>

    <div class="button-group">
        <button class="one" onclick="original()">Un Shuffled</button>
        <button class="two" onclick="shuffle()">Shuffled</button>
    </div>

    <!-- <button onclick="shuffle()">Shuffle</button> -->
    <script src="../js/topRow.js"></script>
</body>
</html>