<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Row Practice</title>
    <link rel="stylesheet" href="../css/wordstyles.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body style="background-color:#bedcfa;">
    <nav>
        <div class="container">
            <a href="/logo"><img src="../images/logo.svg" alt=""></a>
            <a href="/practice/homeRow">Home Row</a>
            <a href="/practice/topRow">Top Row</a>
            <a href="/practice/bottomRow" >Bottom Row</a>
            <a href="/practice/wordPractice" style="color:white;">Word Practice</a>
        </div>
    </nav>

    <!-- This section is for showing the result  -->
    <div class="results"><div class="result"></div></div>


    <div class="existing-letter" style="margin-top:50px;">
        <div>
            <a>q</a>|
            <a>w</a>|
            <a>e</a>|
            <a>r</a>|
            <a>t</a>|
            <a>p</a>|
            <a>o</a>|
            <a>i</a>|
            <a>u</a>|
            <a>y</a>
        </div>
        <div>
            <a>a</a>|
            <a>s</a>|
            <a>d</a>|
            <a>f</a>|
            <a>g</a>|
            <a>;</a>|
            <a>l</a>|
            <a>k</a>|
            <a>j</a>|
            <a>h</a>
        </div>
        <div>
            <a>z</a>|
            <a>x</a>|
            <a>c</a>|
            <a>v</a>|
            <a>.</a>|
            <a>,</a>|
            <a>m</a>|
            <a>n</a>|
            <a>b</a>
        </div>
    </div>

    <!-- Typing leason -->
    <div class="home-container">
        <div class="typing-leason">
        </div>
        <div class="ready">
            <p>Click On Me! If you ready</p>
        </div>
    </div>

    <div class="button-group">
        <button class="two" onclick="shuffle()">Shuffled</button>
    </div>

    <!-- <button onclick="shuffle()">Shuffle</button> -->
    <script src="../js/WordRow.js"></script>
</body>
</html>
