/*

body 
{
    margin:0;
    background-color: #f5f0f0;
}

nav
{
    font-weight: bolder;
    background-color:darkcyan;
    height: 80px;
    margin-bottom:100px;
}

.container
{
    width :90%;
    margin:auto ;
    display: flex;
    justify-content: space-between;
    font-size:20px;
    padding-top:20px;
    align-items: center;
}

.container a 
{
    text-decoration: none;
    color:black;
}

.home-container
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.existing-letter div
{
    background-color:green;
    font-size:25px;
    width:40%;
    margin:auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:5px;
}

.existing-letter a:hover
{
    color:white;
    padding:0 3px;
    cursor:pointer;
}

.typing-leason
{
    position: relative;
    color: #26243d;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-all;
}
.ready
{
    margin:0 auto;
    padding:10px;
    width: 310px;
    font-size: 25px;
    user-select: none;
    margin-top : 50px;
    color:green;
    font-weight: bold;
    transition: all 0.2s ease;
}
.ready:hover
{
    cursor: pointer;
    color:darkgreen;
}
.ready p 
{
    margin:0;
}
.msg
{
    text-align: center;
    margin: auto;
}
.hiding
{
    visibility: hidden;
}
.inactive-leason
{
    color:grey;
}
.wrong
{
    color : red;
}
.right
{
color: grey;
}
.blinker
{
    animation: blink 0.5s linear infinite;
}
@keyframes blink 
{
    0%
    {
        color:black;
    }
    100%
    {
        color:white;
        background-color: rgb(0, 0, 0);
    }
}
.result
{
    text-align: center;
    width: 60%;
    margin: 0 auto ;
    display : flex;
    justify-content: space-between;
}
.result p
{
    margin: 0;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    color:grey;
}
.result h2 
{
    margin-bottom: 10px;
}

*/

.button-group
{
    display:flex;
    position: absolute;
    right: 0;
    top:100px;
    margin-right:100px;
}

.button-group button
{
    font-size:15px;
    padding:8px;
    border:1px solid green;
    transition: all 0.6s ease-in-out;
}
.two
{
    border-radius:20px;
    cursor: pointer;
    width:100px;
}

.active
{
    background-color:#03506f;
    color:black;
    font-weight: bold;
}